<section class="page-section benefits">
  <div class="container">
    <div class="row visible-xs visible-sm">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2 class="h1">Beard Oil Benefits</h2>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-smile-o text-warning"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Soothes Dry, Ithcy Skin</h4>
            Prevent dry, itchy skin with carrier oils that mimick what your face naturally produces.
		  </div>
		</div>
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-hand-rock-o text-success"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Strengthens &amp; Softens Hair</h4>
		    Strengthen and soften your beard with a healthy blend of Organic Grapeseed, Argan, and Jojoba oils.
		  </div>
		</div>
      </div>
      <div class="col-sm-6 col-md-4 col-md-push-4">
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-hand-peace-o text-info"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Handmade With Love</h4>
		    Every batch is hand mixed, bottled, and numbered with love from Saint Petersburg, Florida.
		  </div>
		</div>
        <div class="media">
		  <div class="media-left pull-left">
            <i class="fa fa-fw fa-5x fa-heart-o text-danger"></i>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Smells Awesome</h4>
            Choose your favorite or try them all. Also available in <a href="/unscented">Unscented</a> for those with smell sensitivities.
		  </div>
		</div>
      </div>
      <div class="col-sm-6 col-sm-pull-3 col-md-4 col-md-pull-4 product-image">
        <a href="/citrus">
          <img src="{{ 'citrus_transparent.png' | asset_img_url: '374x582' }}" class="img-responsive" alt="Citrus Organic Beard Oil" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2 class="h1">Grow A Strong, Healthy Beard</h2>
        <p class="lead">without the discomfort of dry, itchy skin.</p>
        <p style="margin-top: 10px;">
        	<a href="/freesample" class="btn btn-lg btn-success btn-block">Try A FREE Sample</a>
        </p>
        <p>
          <small class="text-muted">Sample includes Citrus, Camper, and Spice. Free when you pay shipping.</small>
        </p>
      </div>
    </div>
  </div>
</section>