<style>
  
</style>

<div class="top-line">
  <div class="container">
    <div class="row">
      <div class="text-center col-md-12 col-sm-12 col-xs-12">
        <p class="welcome-msg">10% of November's revenue donated. <a href="#" target="_blank">Learn more</a></p>
      </div>
    </div>
  </div>
</div>