<!-- PAGE SECTION WITH SIDEBAR -->
<section class="page-section page-404">
  <h2 class="hidden">sidebar</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <br /><br />
        <h1 style="font-size: 16em;">
          <img src="https:{{ '404.png' | asset_url }}" class="img-responsive" alt="404" />
        </h1>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center"> 
        <p class="lead">Page Not Found...</p>
        <p>The page you're looking for has seemed to have disappeared. Similar to the beard on our log. Quick - get back to a page that exists so he can have his beard back!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a class="btn btn-lg btn-block btn-primary" href="/">Go Back Home</a>
        <br /><br />
      </div>
    </div>
  </div>
  <hr />
</section>
<!-- /PAGE SECTION WITH SIDEBAR -->